.imageWrapper {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    background: #131316;
    border: 2px solid #801AB2;
}

.ingredientsImage {
    width: 112px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}