.menuItem {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.menuItem:last-of-type {
    margin-right: 0;
}

.link {
    display: flex;
    text-decoration: none;
    color: inherit;
    transition: opacity .2s;
}

.link:hover {
    opacity: .7;
}