.header {
    position: relative;
    background: #1C1C21;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.wrapper {
    margin: 0 auto;
    padding: 24px 0;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuItem {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.menuItem:last-of-type {
    margin-right: 0;
}

.link {
    display: flex;
    text-decoration: none;
    color: inherit;
    transition: opacity .2s;
}

.link:hover {
    opacity: .7;
  }
